section.comments#section5
	.comments__elem
		.cells.wow.fadeInLeft(data-wow-duration='3s')
		.liberty.wow.tada(data-wow-duration='1s')
	.comments__elem-2.wow.fadeInRight(data-wow-duration='3s')
		.circle
	.container
		.content-title.wow.flipInX(data-wow-duration='2s')
			i наши ученики
			h2 Отзывы о нас
		.comments__block
			.slider.slick-comments
				mixin slider(post, text, img, name, link, social, social2)
					div
						.slick-comments__box
							.slick-comments__right
								.slick-comments__info
									.slick-comments__img
										img(src=require("./components/images/" + img), alt="")
									.slick-comments__name
										p= name
									.slick-comments__socials
										a(href="" + link, target='_blank')= social
											span(class='fa ' + social2)
							.slick-comments__left
								.slick-comments__post
									p= post
								.slick-comments__text.tip
									p= text
				//- +slider('Российский бизнесмен, писатель. Создатель и руководитель первого в России Social Media агентства GreenPR. Преподаватель Высшей Школы Экономики. Лауреат Премии Рунета от Ozon.ru.', 'Я 25 лет учил грамматику английского. Учил серьезно. По оксфордским учебникам (у меня их огромная стопка), с репетиторами (с носителями и не носителями), прорешал тысячи, да что там, десятки тысяч грамматических упражнений. Результат был все тот же, предсказуемый: разницу между 26 временами английских глаголов мозг отказывался понимать напрочь...', 'pic1.jpg', 'Дамир Халилов')
				//- +slider('Российский бизнесмен, писатель. Создатель и руководитель первого в России Social Media агентства GreenPR. Преподаватель Высшей Школы Экономики. Лауреат Премии Рунета от Ozon.ru.', 'Я 25 лет учил грамматику английского. Учил серьезно. По оксфордским учебникам (у меня их огромная стопка), с репетиторами (с носителями и не носителями), прорешал тысячи, да что там, десятки тысяч грамматических упражнений. Результат был все тот же, предсказуемый: разницу между 26 временами английских глаголов мозг отказывался понимать напрочь...', 'pic1.png', 'Дамир Халилов')
				//- +slider('Российский бизнесмен, писатель. Создатель и руководитель первого в России Social Media агентства GreenPR. Преподаватель Высшей Школы Экономики. Лауреат Премии Рунета от Ozon.ru.', 'Я 25 лет учил грамматику английского. Учил серьезно. По оксфордским учебникам (у меня их огромная стопка), с репетиторами (с носителями и не носителями), прорешал тысячи, да что там, десятки тысяч грамматических упражнений. Результат был все тот же, предсказуемый: разницу между 26 временами английских глаголов мозг отказывался понимать напрочь...', 'pic1.png', 'Дамир Халилов')

				+slider('Российский бизнесмен, писатель. Создатель и руководитель первого в России Social Media агентства GreenPR. Преподаватель Высшей Школы Экономики. Лауреат Премии Рунета от Ozon.ru.', 'Я 25 лет учил грамматику английского. Учил серьезно. По оксфордским учебникам (у меня их огромная стопка), с репетиторами (с носителями и не носителями), прорешал тысячи, да что там, десятки тысяч грамматических упражнений. Результат был все тот же, предсказуемый: разницу между 26 временами английских глаголов мозг отказывался понимать напрочь. Так и жил – периодически предпринимал судорожные попытки подтянуть свой английский, однако внутренне уже смирился с тем, что это не мое… Пока мне не порекомендовали школу Дружбинского. Никогда не мог подумать, что такое чудо в принципе возможно: вместо заучивания бесконечных правил – встроить в мозг переключатель, который будет автоматически ставить речь на нужное время и форму! Юрий Дружбинский эти переключатели просто берет и встраивает вам в голову. Теперь каждый раз, общаясь на английском, я мысленно благодарю Юрия. Еще раз – огромное спасибо!', 'pic1.jpg', 'Дамир Халилов', 'https://www.facebook.com/halilov?fref=ts', 'Профиль в Facebook', 'fa-facebook')
				+slider('Кинезиолог, дипломированный тренер по эйдотехнике и скорочтению, автор проекта «ЭкоЛэнд», автор программ «Интеллектуальный фитнес», «Учись учиться», Энергия жизни», «Жизнь без стресса».', 'Не могу промолчать!!! Я рада, что доросла до такого уровня, что Вселенная мне открывает таких людей как Юрий Дружбинский. Ведь у многих до сих пор - шведский стол, а выбрать нечего...Я же тоже столько разных курсов посетила, столько книжек, сборников, самоучителей накупила - и полная растерянность - за что браться? А Ваша структура ТАК ВСЕ УПРОЩАЕТ И ПРОЯСНЯЕТ, что просто летаю на крыльях!Вот без преувеличения - после просмотренного урока прыгаю по дому как ребенок, такая легкость появилась! И энергии столько!!! Надо теперь по утрам ваши уроки просматривать - для подзарядки.Я нашла волшебную кнопку! Спасибо за Вашу уникальную методику!', 'pic2.jpg', 'Светлана Дворецкая', 'https://www.facebook.com/svetlana.dvoretskaya.3', 'Профиль в Facebook', 'fa-facebook')
				+slider('Журналист канала CNN. Chamblee, Georgia, United States', 'Юра, спасибо громадное за этот цикл!!! Все было прекрасно организовано, насколько это вообще можно представить для онлайн уроков, где собраны люди из разных стран. «Народ подобрался покладистый, душевный, с огоньком.» Сами уроки мне очень понравились, мне лично было исключительно полезно повторить знакомые темы и усвоить твои интересные новаторские схемы, которые действительно прекрасно работают и облегчают понимание процесса без зубрежки дебильных правил, а уж для новичков в английском твой курс является просто бесценным. Стало окончательно ясно, что автоматизм — наше всё! И я действительно стала лучше слышать музыку языка, которая позволяет выбрать правильные варианты даже без анализа ситуации и вытаскивания правил из тёмных закоулков мозга. В какие-то моменты я реально жалела, что голова уже сильно забита изученным ранее материалом, через который естественное восприятие языка пробивается с бОльшим трудом. Ты большая умница и проделал громадную работу. Редчайший пример Учителя, работающего, думающего, помогающего и одержимого, а не транслирующего стандартные учебники для того, чтобы люди знали язык. Благодарность тебе и низкий поклон.', 'pic3.jpg', 'Елена Мазина', 'https://www.facebook.com/mazina.elena.9?fref=ts', 'Профиль в Facebook', 'fa-facebook')
				+slider('Программист, Seattle, USA', 'На Юрия я попал совершенно случайно через facebook, он анонсировал свои первые книги, и пригласил попробовать его недавно открывшуюся виртуальную школу. Я всю свою сознательную жизнь учу английский, и в школе, и в университете, и на работе, и куча разных методик и курсов и репетиторов перепробовал. Юрий за первых пару уроков, дал мне больше чем я выучил за последние 20 лет! Появилось четкое представления языка, простые схемы и алгоритмы, которые легко переносятся в повседневную жизнь. Юрий просто гений, настоящий профессионал своего дела, который рассказывает и показывает как можно понять английский, не надо зазубривать не понятные правила и сотни исключений. Все очень просто, четко и логично. Очень жалко своего потраченного времени, что не встретил Юрия лет так 10-15 назад ... Всем своим друзьям , которые хотят выучить английский, свободно говорить и писать на нем – я всегда говорю что знаю теперь проверенный способ и сразу отправляю к Юрию!!!!', 'pic4.jpg', 'Павел Вакар', 'https://www.facebook.com/vakarpavel', 'Профиль в Facebook', 'fa-facebook')
				+slider('Минск, блогер-кондитер', 'Когда меня спрашивают о моём обучении на курсе Юрия Дружбинского, первое, что хочется рассказать, КАК это было здорово! Просто фонтан эмоций) Я пришла на курс после нескольких месяцев обучения на обычных курсах, где мне дали какие-то базовые знания, безусловно, но возникло и множество вопросов, на которые никто не мог мне дать внятного ответа. Когда я занималась поисками курсов, практически везде мне говорили, что разговаривать вы начнёте более-менее через год, не раньше. На курсе Юрия, после первого же занятия, я получила ответы на многие мои вопросы. Самые сложные темы английского языка он может объяснить за 5 минут! Понимание языка у меня вышло на качественно иной уровень! Изучив один раз алгоритмы Юрия Дружбинского, вам не придётся больше часами сидеть над конспектами и учебниками. И это, на мой взгляд, самое ценное в курсе. Огромная благодарность Юрию!', 'pic5.jpg', 'Светлана Виноградова', 'https://www.facebook.com/Svetlana.Vinogradinka?fref=ts', 'Профиль в Facebook', 'fa-facebook')
				+slider('Москва, инженер-конструктор, на пенсии', 'Среди множества разнообразных курсов английского языка этот самый эффективный и самый понятный. Я реально начала понимать основу языка - грамматику, причем без всякой каши в голове и без зубрежки жутких правил. А Юрий Дружбинский - лучший преподаватель в моей жизни, человек любящий язык и передающий эту любовь другим. Очень доброжелательный человек, очень чувствующий когда надо похвалить, когда поругать и как это сделать. Огромное спасибо Юрию и всей команде школы. Буду рекомендовать всем учить английский только у вас.', 'pic6.jpg', 'Ирина Мясникова', 'https://vk.com/id31478332', 'Профиль в VKontakte', 'fa-vk')


				

				


				



				


				


				



				


				

				


				